<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Fuentes.My.MySettings.inventaConnectionString" connectionString="Data Source=cna-sqlsrv.cna1.central.nasa;Initial Catalog=inventa;Integrated Security=True;User ID=desa;Password=_123@456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
